/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  display: inline-block;
  text-decoration: none;
}

/***********************************************  
***************   TYPOGRAPHY    ****************
************************************************/
/***********************************************  
**************   GRID SYSTEM    ****************
************************************************/
/***********************************************  
***********   For media queries    *************
************************************************/
/*-----Prevents iPhone from resizing in landscape mode ------*/
html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*-----Generilized styles ------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  /*300 for normal, 600 for bold*/
}

/*
    CONTENT
    1. self-generalized styles
    2. Header
    00. Miscellaneous
*/
/*-----------------------------------------------------
---------    1. self generalized styles     -----------
-----------------------------------------------------*/
.row {
  margin: 0 2%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*-----------------------------------------------------
-----------------   2. HEADER     ---------------------
-----------------------------------------------------*/
.header-wrapper {
  font-size: 1.6rem;
  position: fixed;
  background-color: #000;
  width: 100%;
  min-height: 54px;
}

header {
  padding: 1px;
  color: #fff;
}
header .logo {
  float: left;
  font-size: 1.6rem;
  width: 5em;
  margin: 0.625em 0;
  font-size: 1.2em;
  padding: 0.25em 0.625em;
  border: 1px solid #fff;
  text-align: center;
}
header .logo h1 {
  display: none;
}

@media only screen and (max-width: 47.9375em) {
  .nav-button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    font-size: 1.6rem;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }

  .change-height {
    top: 0.4375em;
    right: 0.3125em;
  }

  /*!
   * Hamburgers
   * @description Tasty CSS-animated hamburgers
   * @author Jonathan Suh @jonsuh
   * @site https://jonsuh.com/hamburgers
   * @link https://github.com/jonsuh/hamburgers
   */
  .hamburger {
    padding: 0.9375em 0.9375em;
    display: inline-block;
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  }

  .hamburger-box {
    width: 2.5em;
    height: 1.375em;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -0.125em;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 2.5em;
    height: 0.25em;
    background-color: #ccc;
    border-radius: 0.25em;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -0.5625em;
  }
  .hamburger-inner::after {
    bottom: -0.5625em;
  }

  /*
   * Squeeze
   */
  .hamburger--squeeze {
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .hamburger--squeeze .hamburger-inner {
    -webkit-transition-duration: 0.075s;
            transition-duration: 0.075s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--squeeze .hamburger-inner::before {
    -webkit-transition: top 0.075s 0.12s ease;
    transition: top 0.075s 0.12s ease;
  }
  .hamburger--squeeze .hamburger-inner::after {
    -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--squeeze.is-active {
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.6);
    padding: 0.5625em 0.625em 0.5em 0.625em;
    background-color: rgba(30, 30, 30, 0.4);
  }
  .hamburger--squeeze.is-active .hamburger-inner {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition-delay: 0.12s;
            transition-delay: 0.12s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transition: top 0.075s ease;
    transition: top 0.075s ease;
  }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .hamburger--squeeze.is-active .hamburger-box {
    width: 1.4375em;
  }
  .hamburger--squeeze.is-active .hamburger-inner {
    width: 1.4375em;
    height: 0.25em;
    background-color: #FFF;
    height: 3px;
  }
  .hamburger--squeeze.is-active .hamburger-inner::before, .hamburger--squeeze.is-active .hamburger-inner::after {
    width: 1.4375em;
    height: 0.25em;
    background-color: #fff;
    height: 3px;
  }

  /* General styles for all menus */
  .cbp-spmenu {
    background: #47a3da;
    position: fixed;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
  }

  .cbp-spmenu .heading {
    color: #afdefa;
    font-size: 1.9em;
    padding: 0.65789em;
    margin: 0;
    text-align: center;
    font-weight: 300;
    background: #0d77b6;
  }

  .cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
  }

  .cbp-spmenu a:hover {
    background: #258ecd;
  }

  .cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
  }

  /* Orientation-dependent styles for the content of the menu */
  .cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
  }

  .cbp-spmenu-vertical a {
    border-bottom: 1px solid #258ecd;
    padding: 1em;
  }

  /* Vertical menu that slides from the left or right */
  .cbp-spmenu-right {
    right: -15em;
  }

  .cbp-spmenu-right.cbp-spmenu-open {
    right: 0;
  }

  /* Transitions */
  .cbp-spmenu {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  /*
  height: 4.37305em; // 69.9688px/16
  > .nav-button {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translatey(-50%);        
  }*/
}
/*-----------------------------------------------------
-----------------    00 Miscellaneous


    -----------------------
-------------------------------------------------------*/
@media only screen and (min-width: 48em) {
  /**********************************
      CONTENT
      1. Header And Navigation
      2. 
  ************************************/
  /*-----------------------------------------------------
  ---------    Header And Navigation    -----------------
  -----------------------------------------------------*/
  header .nav-button {
    display: none;
  }

  .nav-wrapper {
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    right: 2%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .nav-main {
    font-family: "Lato", sans-serif;
  }
  .nav-main .heading {
    display: none;
  }
  .nav-main ul li {
    display: inline-block;
    padding: 0 0.7em;
    border-right: 1px solid #4d4d4d;
  }
  .nav-main ul li:last-child {
    border-right: none;
  }
  .nav-main ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: .3em;
  }
}
/* -----end of media querry--- */
@media only screen and (min-width: 62em) {
  /******************************************************
  *********    Header And Navigation    *****************
  ******************************************************/
  .nav-wrapper {
    font-size: 1.6rem;
  }
}
/* ------ end of media query ------ */
/*@import "mobilemenu";*/

/*# sourceMappingURL=styles.css.map */