/*
    CONTENT
        1. Header
        2. Banner
        00. Miscellaneous
*/

/*-----------------------------------------------------
-----------------   1. HEADER     ---------------------
-----------------------------------------------------*/
.header-wrapper {
    font-size: 1.6rem;
    position: fixed;    
    background-color: #000;
    width: 100%;
    min-height: 54px; //match the height of the hamburger-icon
    
    // .unscrolled class for scrolling effect on header component
    &.unscrolled {
        font-size: 2rem;
        background-color: rgba(0,0,0,0);
    }
    //during the scroll event 
    &.duringScroll-header {
        transition: all .3s ease-out;   
    }
    z-index: 99;
}


header {
    padding: 1px; //prevention: margin-collapsing
    color: #fff;
    .logo {        
        font-size: 1.2em;
        float: left;
        width: 5em;       
        margin: 0.625em 0;
        padding: 0.25em 0.625em;
        border: 1px solid #fff;        
        text-align: center; 
        h1 {
            display: none;
        }
    }
}

//----- MOBILE MENU FEATURE ---------
//$lgbp = 62em
@media only screen and (max-width: 62em) { 
    @import "mobilemenu/mobilemenu";
}


/*-----------------------------------------------------
--------------      2. Banner        ------------------
-------------------------------------------------------*/
@import "banner/banner-image";
        
.banner-wrapper {
    font-size: 1.6rem;
    
}


.banner {
    position: relative;
    color: #fff;    
    
    .roughDiv-bannerImgDarkening {        
        padding-top: 110px;
    }

    //--------------- .row.main-board --------------------------  
    .row.main-board {
        display: flex;
        -webkit-align-items: center;
                align-items: center;
    }  
    .banner_content {
        height: 100%;
        .roughForPosition1{
            //position: relative; 
            //height: 100%;
        }
        //.roughForPosition2 {
            //position: absolute;
            //top: 50%;
            //left: 50%;
            //transform: translate(-50%, 0);
        //
        .heading1, .heading2 {            
            font-weight: $regular-openSans;
            color: #fff;
            letter-spacing: 2px;
            font-size: 1.3em;
            text-align: center;            
            text-transform: uppercase;
        }
        .heading2 {
            line-height: 1.8;
        }
        .buttons {
            margin-top: 2em;
            text-align: center;
        }
        .buttons a {
            margin-right: 20px;            
            font-size: 0.9em;
            text-transform: uppercase;
            line-height: 32px;
            padding: 15px 30px;
            border: 1px solid rgba(255,255,255,0.15)
        }
    }

    .banner_content-image figure {
        position: relative;
        height: 400px;
        //background-color: rgba(255,255,255,0.2);
        img {
            height: 100%;
            width: 95%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    
    //------------------ .row.social-icons ------------------
    .row.social-icons .col {
        float: right;
        text-align: center;
    }
    ul.social {
        display: inline-block;
        //width: 60%;
        //margin: 0 auto;
                
        li {
            //width: 25%;
            padding: 0 16px;
            float:left;
            text-align: center;
        }
        li a {
            font-size: 2.5em;
            color: #fff;
        }
        li a span {
            display: inline-block;
            -webkit-border-radius: 50px;
                    border-radius: 50px;
        }
        li a:hover {
            color: $secondaryColor;
        }
    }

    .scrollIcon-container {
        bottom: 2%;
    }
    
}// .banner

@import "icons/scrollDown-1/scrollDown-1";






/* -----------------------------------------------------
-----------------   00 Miscellaneous  -----------------
------------------------------------------------------- */