//48em = 768px
@media only screen and (min-width: 48em) {

/**********************************
    CONTENT
    1. Header And Navigation
    2. 
************************************/

/*-----------------------------------------------------
---------    Header And Navigation    -----------------
-----------------------------------------------------*/

header {
    .logo {
        text-align: initial;
        margin-left: 0;
        margin-right: 0;
    }
    .nav-button {
        display: none;
    }
}


.nav-wrapper {
    position: absolute; //.header-wrapper has position: fixed
    top: 50%;
    right: $gutter;
    transform: translate(0, -50%);
    ul {
        display: block;          
    li {
        display: inline-block;
        a {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            text-transform: capitalize;
            padding: .3em;
        }
    }
}
} //end of .nav-main



} /* -----end of media querry--- */