//font-family: 'Lato', sans-serif;
//font-family: 'Open Sans', sans-serif;
$openSans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$normal: 300; //both for "Open Sans" and lato
$bold: 600;

$gutter: 2%;



//-----For media queries---------
$xmBp : 36em; //576px
$xmBpLess: 36.9375; //575px

$smBp : 48em; //768px
$smBpLess: 47.8125; //768

$lgBp : 62em; //992px
$lgBpLess:  61.9375; //991px

$xlBp : 75em; //1200px
$xlBpLess: 74.9375; //1199px