//font-family: 'Lato', sans-serif;
//font-family: 'Open Sans', sans-serif;
$openSans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$normal: 300; //both for "Open Sans" and lato
$bold: 600;

$gutter: 2%;