/*-----------------------------------------------------
---------    Priority: Ultra    -----------
-----------------------------------------------------*/
html {
    font-size: 62.5%; //10px
    height: 100%;
    
    //Prevents iPhone from resizing in landscape mode
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
    height: 100%;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}


