
/***********************************************  
***************   TYPOGRAPHY    ****************
************************************************/

//---- FONT FAMILIES----

//OPEN SANS
$openSans: 'Open Sans', sans-serif;
$normal-openSans: 300;
$bold-openSans: 600;
//LATO
$lato: 'Lato', sans-serif;
$normal-lato: 300;
$bold-lato: 400;


//--------- COLOR--------------
$white : #fff;
$black: #000;
$red: #fff;




/***********************************************  
**************   GRID SYSTEM    ****************
************************************************/
$gutter: 2%;



/***********************************************  
***********   For media queries    *************
************************************************/

//medium devices: some tablets
//large devices: some tablets desktop and laptops
//extra large device : some desktop and laptops

$xmBpLess: 36.9375;       //575px   maximum size of phone-default
$xmBp : 36em;             //576px   minimum size of phone-landscape

$smBpLess: 47.9375;       //767     maximum size of phone-landscape
$smBp : 48em;             //768px   minimum size of medium device

$lgBpLess:  61.9375;      //991px   maximum size of medium device 
$lgBp : 62em;             //992px   minimum size of large device 

$xlBpLess: 74.9375;       //1199px  maximum size of large device
$xlBp : 75em;             //1200px  minimum size of extra large devices

//to make: breaking point of 1600px as maximum size of extra large devices