@if index($hamburger-types, squeeze) {
  /*
   * Squeeze
   */
    .hamburger--squeeze {
        transition: all .3s ease-in;
        .hamburger-inner {
            transition-duration: 0.075s;
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

            &::before {
                transition: top 0.075s 0.12s ease;
            }

            &::after {
                transition: bottom 0.075s 0.12s ease,
                            transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
        }//end of .hamburger-inner

        &.is-active {
            .hamburger-inner {
                //width: 30px; // self-made-edit
                transform: rotate(45deg);
                transition-delay: 0.12s;
                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

                &::before {
                    //width: 30px; // self-made-edit
                    top: 0;
                    transition: top 0.075s ease;
                }

                &::after {
                    //width: 30px; // self-made-edit
                    bottom: 0;
                    transform: rotate(-90deg);
                    transition: bottom 0.075s ease,
                                transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
                }
            }
            //----Self-made-edits----
            .hamburger-box {
                width: 1.4375em; // 23px/
            }
            .hamburger-inner {
                width: 1.4375em; // 23px/16
                height: 0.25em; // 4px/16
                background-color: #FFF;
                height:3px;
                
                &::before, &::after {
                    width: 1.4375em; // 23px/16
                    height: 0.25em; // 4px/16
                    background-color: #fff;
                height: 3px;
                }
            }
            border-radius: 50%;
            border: 2px solid rgba(255,255,255, 0.6);
            padding: 0.5625em 0.625em 0.5em 0.625em; //9px 10px 8px 10px
            background-color: rgba(30,30,30,0.4); //333

        } //End of .is-active
    }//End of .hambergur-squeeze
}//End of @If index
